@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
}

.headerlinks {
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb
  
}

.section1 {
    background-color: #1F2937;
}

.lefts1 {

}

.title {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb
}

.button1 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #3882F6
}

.right1 {

}

.section2 {

}

.section2heading {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1F2937
}

.imgcontainer {

}

.imgsq {

}

.text {

}

.section3 {

}

.quote {

}

.attr {

}

.section4 {

}

.bluewrapper {
    background-color: #3882F6
}

.leftwrap {

}

.call {

}

.signuptext {

}

.rightwrap {

}

.button2 {

}

.section5 {
    background: #eee;
}