@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.headerlinks {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 10px;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb
  
}

.section1 {
    background-color: #1F2937;
    display: flex;
   
}

.lefts1 {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: space-evenly;
    flex: 1;
}

.title {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    
}

.subtext {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: flex-start;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
    padding: 8px 16px;
    margin: 16px 0px;
}

.right1 {
    display: flex;
    padding: 10px;
    flex: 1;
}

.singleimg {
    display: flex;
    padding: 20px;
}

img {
    width: 100%;
}


.section2 {
    display: flex;
    flex-direction: column;
}

.section2heading {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 0 30px 0; */
    gap: 40px;
}

.imgsq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.imgsq img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    padding-top: 10px;
    text-align: center;
}

.section3 {
    background-color: #E5E7EB;
}

.quote {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    
}

.attr {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.section4 {

}

.bluewrapper {
    background-color: #3882F6
}

.leftwrap {

}

.call {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
}

.signuptext {

}

.rightwrap {

}

.button2 {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}

.section5 {
    background: #eee;
    
}